html{
    height: 100%;
}

body{
    position: relative;
    color: white;
    background-color: white;
    background-image: url(racecar.jpeg);
    background-size: cover;
    background-position: top;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;

}

h1{
    
    font-family: 'IM Fell French Canon', serif;
    text-shadow: 2px 0 0 orangered, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px orangered, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: center;
    font-size: 130px;
    margin-bottom: 0;
    text-decoration: underline;
    margin-top: 0;

}


ul{
    margin: auto;
    list-style-type: none;
    
}

li{
    text-align: right;
    font-size: 20px;
    
}

h2{
    text-shadow: 2px 0 0 orangered, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px orangered, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    text-align: right;
}

.left-nav{
    display: inline;
}

.left-nav button{
    width: 20%;
    background-color: transparent;
    border: none;
    
}

.left-nav button a{
    text-decoration: none;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    text-shadow: 2px 0 0 orangered, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px orangered, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

